@media (max-width: 770px) {
    .info {
        margin-top: 25px;
        padding: 15px 0;
    }
    
    .info .image {
        margin: 0px 0px 0px 20px;
    }

    .info .type-name {
        text-align: center;
    }
}

@media (max-width: 430px) {
    .info {
        flex-direction: column;
        padding: 0;
    }

    .info .image {
        margin: 15px 0 0 0;
    }
}

